<div id="n13-learn" data-hf-snippet="" data-figma-id="66:73" style="position: relative; width: 1920px; height: 1080px; background-color: #14110C; overflow: hidden">
<div id="every-incident-makes-the-next-one-easier" data-figma-id="66:74" style="position: absolute; left: 160px; top: 420px; width: 920px; height: 62px; color: #F1EAE0; font-family: 'Geist'; font-weight: 500; font-size: 48px; line-height: 62.4px">Every incident makes the next one easier</div>
<div id="error-budget-tracking" data-figma-id="66:75" style="position: absolute; left: 160px; top: 510px; width: 303px; height: 31px; color: #96897C; font-family: 'Geist Mono'; font-weight: 400; font-size: 24px; line-height: 31.2px">Error budget tracking</div>
<div id="tick" data-figma-id="67:6" style="position: absolute; left: 160px; top: 392px; width: 48px; height: 2px; background-color: #A0EAFC"></div>
</div>
