<div id="n09-connections" data-hf-snippet="" data-figma-id="66:30" style="position: relative; width: 1920px; height: 1080px; background-color: #14110C; overflow: hidden">
<div id="datadog" data-figma-id="66:31" style="position: absolute; left: 252px; top: 160px; width: 110px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Datadog</div>
<div id="rectangle" data-figma-id="66:32" style="position: absolute; left: 560px; top: 178px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="prometheus" data-figma-id="66:33" style="position: absolute; left: 252px; top: 256px; width: 155px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Prometheus</div>
<div id="rectangle-2" data-figma-id="66:34" style="position: absolute; left: 560px; top: 274px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="grafana" data-figma-id="66:35" style="position: absolute; left: 252px; top: 352px; width: 101px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Grafana</div>
<div id="rectangle-3" data-figma-id="66:36" style="position: absolute; left: 560px; top: 370px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="opentelemetry" data-figma-id="66:37" style="position: absolute; left: 252px; top: 448px; width: 195px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">OpenTelemetry</div>
<div id="rectangle-4" data-figma-id="66:38" style="position: absolute; left: 560px; top: 466px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="kubernetes" data-figma-id="66:39" style="position: absolute; left: 252px; top: 544px; width: 146px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Kubernetes</div>
<div id="rectangle-5" data-figma-id="66:40" style="position: absolute; left: 560px; top: 562px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="aws" data-figma-id="66:41" style="position: absolute; left: 252px; top: 640px; width: 60px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">AWS</div>
<div id="rectangle-6" data-figma-id="66:42" style="position: absolute; left: 560px; top: 658px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="google-cloud" data-figma-id="66:43" style="position: absolute; left: 252px; top: 736px; width: 174px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Google Cloud</div>
<div id="rectangle-7" data-figma-id="66:44" style="position: absolute; left: 560px; top: 754px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="azure" data-figma-id="66:45" style="position: absolute; left: 252px; top: 832px; width: 75px; height: 36px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 28px; line-height: 36.4px">Azure</div>
<div id="rectangle-8" data-figma-id="66:46" style="position: absolute; left: 560px; top: 850px; width: 684px; height: 1px; background-color: #A0EAFC"></div>
<div id="aiden-mark" data-figma-id="67:4" style="position: absolute; left: 1280px; top: 450px; width: 180px; height: 180px; background-color: #211D15; overflow: hidden">
<div id="aiden" data-figma-id="66:48" style="position: absolute; left: 47px; top: 69px; width: 86px; height: 42px; color: #F1EAE0; font-family: 'Geist'; font-weight: 500; font-size: 32px; line-height: 41.6px">Aiden</div>
<div id="aiden-rule" data-figma-id="103:2" style="position: absolute; left: 0px; top: 0px; width: 180px; height: 2px; background-color: #BA99FD"></div>
</div>
<div id="datadog-logo" data-figma-id="68:2" style="position: absolute; left: 160px; top: 142px; width: 72px; height: 72px">
<div id="datadog-2" data-figma-id="68:3" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector" data-figma-id="68:4" data-figma-rasterize="68:4" src="../../../.media/images/image_591.svg" alt="Vector" style="position: absolute; left: 1.64px; top: 0px; width: 46.71px; height: 50px" />
</div>
</div>
<div id="prometheus-logo" data-figma-id="68:5" style="position: absolute; left: 160px; top: 238px; width: 72px; height: 72px">
<div id="prometheus-2" data-figma-id="68:6" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-2" data-figma-id="68:7" data-figma-rasterize="68:7" src="../../../.media/images/image_592.svg" alt="Vector" style="position: absolute; left: 0px; top: 0px; width: 50px; height: 50px" />
</div>
</div>
<div id="grafana-logo" data-figma-id="68:8" style="position: absolute; left: 160px; top: 334px; width: 72px; height: 72px">
<div id="grafana-2" data-figma-id="68:9" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-3" data-figma-id="68:10" data-figma-rasterize="68:10" src="../../../.media/images/image_593.svg" alt="Vector" style="position: absolute; left: 1.98px; top: 0px; width: 46.03px; height: 50px" />
</div>
</div>
<div id="opentelemetry-logo" data-figma-id="68:11" style="position: absolute; left: 160px; top: 430px; width: 72px; height: 72px">
<div id="opentelemetry-2" data-figma-id="68:12" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-4" data-figma-id="68:13" data-figma-rasterize="68:13" src="../../../.media/images/image_594.svg" alt="Vector" style="position: absolute; left: 0px; top: 0px; width: 50px; height: 50px" />
</div>
</div>
<div id="kubernetes-logo" data-figma-id="68:14" style="position: absolute; left: 160px; top: 526px; width: 72px; height: 72px">
<div id="kubernetes-2" data-figma-id="68:15" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-5" data-figma-id="68:16" data-figma-rasterize="68:16" src="../../../.media/images/image_595.svg" alt="Vector" style="position: absolute; left: 0px; top: 0.74px; width: 50px; height: 48.52px" />
</div>
</div>
<div id="aws-logo" data-figma-id="68:17" style="position: absolute; left: 160px; top: 622px; width: 72px; height: 72px">
<div id="aws-2" data-figma-id="68:18" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-6" data-figma-id="68:19" data-figma-rasterize="68:19" src="../../../.media/images/image_596.svg" alt="Vector" style="position: absolute; left: 0px; top: 10.05px; width: 50px; height: 29.9px" />
</div>
</div>
<div id="google-cloud-logo" data-figma-id="68:20" style="position: absolute; left: 160px; top: 718px; width: 72px; height: 72px">
<div id="google-cloud-2" data-figma-id="68:21" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-7" data-figma-id="68:22" data-figma-rasterize="68:22" src="../../../.media/images/image_597.svg" alt="Vector" style="position: absolute; left: 0px; top: 4.95px; width: 50px; height: 40.1px" />
</div>
</div>
<div id="azure-logo" data-figma-id="68:23" style="position: absolute; left: 160px; top: 814px; width: 72px; height: 72px">
<div id="azure-2" data-figma-id="68:24" style="position: absolute; left: 11px; top: 11px; width: 50px; height: 50px; overflow: hidden">
<img id="vector-8" data-figma-id="68:25" data-figma-rasterize="68:25" src="../../../.media/images/image_598.svg" alt="Vector" style="position: absolute; left: 0px; top: 1.37px; width: 50px; height: 47.26px" />
</div>
</div>
</div>
