<div id="n15-aiden-os" data-hf-snippet="" data-figma-id="66:87" style="position: relative; width: 1920px; height: 1080px; background-color: #14110C; overflow: hidden">
<div id="aiden-os" data-figma-id="66:88" style="position: absolute; left: 160px; top: 400px; width: 82px; height: 20px; color: #96897C; font-family: 'Geist Mono'; font-weight: 400; font-size: 15px; line-height: 19.5px; letter-spacing: 1.4px">AIDEN OS</div>
<div id="policy" data-figma-id="66:89" style="position: absolute; left: 160px; top: 470px; width: 135px; height: 62px; color: #F1EAE0; font-family: 'Geist'; font-weight: 500; font-size: 48px; line-height: 62.4px">policy</div>
<div id="approvals" data-figma-id="66:90" style="position: absolute; left: 351px; top: 470px; width: 220px; height: 62px; color: #F1EAE0; font-family: 'Geist'; font-weight: 500; font-size: 48px; line-height: 62.4px">approvals</div>
<div id="audit" data-figma-id="66:91" style="position: absolute; left: 627px; top: 470px; width: 113px; height: 62px; color: #F1EAE0; font-family: 'Geist'; font-weight: 500; font-size: 48px; line-height: 62.4px">audit</div>
<div id="tick" data-figma-id="67:7" style="position: absolute; left: 160px; top: 556px; width: 580px; height: 1px; background-color: #A0EAFC"></div>
</div>
