<div id="sre-title-and-community-edition" data-hf-snippet="" data-figma-id="80:2" style="position: relative; width: 1568px; height: 1148.91px; background-color: #14110C">
<div id="container" data-figma-id="80:3" style="position: absolute; left: 0px; top: 0px; width: 1568px; height: 233px">
<div id="container-2" data-figma-id="80:5" style="position: absolute; left: 0px; top: 0px; width: 614px; height: 233px">
<div id="container-3" data-figma-id="80:6" style="position: absolute; left: 64px; top: 0px; width: 140px; height: 41px; background-color: #211D15">
<img id="image" data-figma-id="80:9" data-figma-rasterize="80:9" src="../../../.media/images/image_633.svg" alt="Image" style="position: absolute; left: 8px; top: 12.5px; width: 18px; height: 16px" />
<div id="container-4" data-figma-id="80:10" style="position: absolute; left: 43px; top: 12px; width: 89px; height: 17px">
<div id="aiden-for-sre" data-figma-id="80:11" style="position: absolute; left: 0px; top: 0px; width: 89px; height: 17px; color: #75DAFD; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 16.8px">Aiden for SRE</div>
</div>
</div>
<div id="heading-1" data-figma-id="80:13" style="position: absolute; left: 64px; top: 53px; width: 550px; height: 62px">
<div id="your-ai-sre-teammate" data-figma-id="80:14" style="position: absolute; left: 0px; top: 0px; width: 550px; height: 62px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 56px; line-height: 61.6px; letter-spacing: -1.8px">Your AI SRE teammate.</div>
</div>
<div id="aiden-learns-your-environment-investigates-every" data-figma-id="80:17" style="position: absolute; left: 64px; top: 127px; width: 550px; height: 54px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 18px; line-height: 27px">Aiden learns your environment, investigates every alert, and remediates issues to keep your production intact.</div>
<div id="container-5" data-figma-id="80:19" style="position: absolute; left: 64px; top: 193px; width: 413.27px; height: 40px">
<div id="link" data-figma-id="80:20" style="position: absolute; left: 0px; top: 0px; width: 174px; height: 40px">
<div id="container-6" data-figma-id="80:21" style="position: absolute; left: 0px; top: 0px; width: 175.01px; height: 40px">
<div id="container-7" data-figma-id="80:22" style="position: absolute; left: 0px; top: 0px; width: 137px; height: 40px; background-color: #FAF7F2">
<div id="container-8" data-figma-id="80:23" style="position: absolute; left: 10px; top: 11.5px; width: 87px; height: 17px">
<div id="book-a-demo" data-figma-id="80:24" style="position: absolute; left: 0px; top: 0px; width: 87px; height: 17px; color: #14110C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 16.8px">Book a Demo</div>
</div>
</div>
<div id="container-9" data-figma-id="80:26" style="position: absolute; left: 137px; top: 0px; width: 38.01px; height: 40px; background-color: #FAF7F2">
<div id="container-10" data-figma-id="80:27" style="position: absolute; left: 6px; top: 8px; width: 27.01px; height: 24px; background-color: #FAF7F2; overflow: hidden">
<img id="image-2" data-figma-id="80:28" data-figma-rasterize="80:28" src="../../../.media/images/image_634.svg" alt="Image" style="position: absolute; left: 8px; top: 5px; width: 11.01px; height: 14px" />
</div>
</div>
</div>
</div>
<div id="link-2" data-figma-id="80:29" style="position: absolute; left: 198px; top: 0.6px; width: 215.27px; height: 38.8px">
<div id="container-11" data-figma-id="80:30" style="position: absolute; left: 0px; top: 0px; width: 215.27px; height: 38.8px; background-color: #211D15; border-radius: 2px">
<div id="signup-to-community-edition" data-figma-id="80:32" style="position: absolute; left: 16px; top: 11px; width: 184px; height: 17px; color: #FAF7F2; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 16.8px">Signup to community edition</div>
</div>
</div>
</div>
</div>
</div>
<div id="container-12" data-figma-id="80:34" style="position: absolute; left: 0px; top: 332.4px; width: 1568px; height: 816.52px">
<div id="container-13" data-figma-id="80:35" style="position: absolute; left: 64px; top: 0px; width: 1440px; height: 816.52px">
<img id="image-3" data-figma-id="80:36" data-figma-rasterize="80:36" src="../../../.media/images/image_635.svg" alt="Image" style="position: absolute; left: 0px; top: 0px; width: 1439.99px; height: 816.52px" />
</div>
</div>
</div>
