<div id="n22-slack-question-no-replies" data-hf-snippet="" data-figma-id="99:3" style="position: relative; width: 1920px; height: 1080px; background-color: #14110C; overflow: hidden">
<div id="slack" data-figma-id="101:2" style="position: absolute; left: 180px; top: 110px; width: 1560px; height: 860px; background-color: #FFFFFF; border-radius: 8px; overflow: hidden">
<div id="sidebar" data-figma-id="101:3" style="position: absolute; left: 1px; top: 1px; width: 260px; height: 858px; background-color: #1A1D21; overflow: hidden">
<div id="frame" data-figma-id="101:4" style="position: absolute; left: 12px; top: 16px; width: 78px; height: 32px; overflow: hidden">
<div id="stackgen" data-figma-id="101:5" style="position: absolute; left: 0px; top: 0px; width: 65px; height: 22px; color: #FFFFFF; font-family: 'Lato'; font-weight: 700; font-size: 16px; line-height: 22px">Stackgen</div>
<div id="node" data-figma-id="101:6" style="position: absolute; left: 71px; top: 2.5px; width: 7px; height: 17px; color: #ABABAD; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">⌄</div>
</div>
<div id="frame-2" data-figma-id="101:7" style="position: absolute; left: 12px; top: 50px; width: 236px; height: 30px; background-color: #282B30; border-radius: 6px; overflow: hidden">
<div id="search-stackgen" data-figma-id="101:8" style="position: absolute; left: 10px; top: 6px; width: 94px; height: 18px; color: #ABABAD; font-family: 'Lato'; font-weight: 400; font-size: 13px; line-height: 18px">Search Stackgen</div>
</div>
<div id="frame-3" data-figma-id="101:9" style="position: absolute; left: 12px; top: 82px; width: 8px; height: 12px; overflow: hidden"></div>
<div id="channels" data-figma-id="101:10" style="position: absolute; left: 12px; top: 96px; width: 64px; height: 18px; color: #ABABAD; font-family: 'Lato'; font-weight: 400; font-size: 13px; line-height: 18px">▾  Channels</div>
<div id="frame-4" data-figma-id="101:11" style="position: absolute; left: 12px; top: 116px; width: 236px; height: 29px; border-radius: 6px; overflow: hidden">
<div id="incident-bridge" data-figma-id="101:12" style="position: absolute; left: 10px; top: 4px; width: 117px; height: 21px; color: #D1D2D3; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">#  incident-bridge</div>
</div>
<div id="frame-5" data-figma-id="101:13" style="position: absolute; left: 12px; top: 147px; width: 236px; height: 29px; background-color: #FFFFFF; border-radius: 6px; overflow: hidden">
<div id="payments-oncall" data-figma-id="101:14" style="position: absolute; left: 10px; top: 4px; width: 126px; height: 21px; color: #FFFFFF; font-family: 'Lato'; font-weight: 700; font-size: 15px; line-height: 21px">#  payments-oncall</div>
</div>
<div id="frame-6" data-figma-id="101:15" style="position: absolute; left: 12px; top: 178px; width: 236px; height: 29px; border-radius: 6px; overflow: hidden">
<div id="sre-general" data-figma-id="101:16" style="position: absolute; left: 10px; top: 4px; width: 90px; height: 21px; color: #D1D2D3; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">#  sre-general</div>
</div>
<div id="frame-7" data-figma-id="101:17" style="position: absolute; left: 12px; top: 209px; width: 236px; height: 29px; border-radius: 6px; overflow: hidden">
<div id="deploy-announcements" data-figma-id="101:18" style="position: absolute; left: 10px; top: 4px; width: 171px; height: 21px; color: #D1D2D3; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">#  deploy-announcements</div>
</div>
<div id="frame-8" data-figma-id="101:19" style="position: absolute; left: 12px; top: 240px; width: 8px; height: 14px; overflow: hidden"></div>
<div id="direct-messages" data-figma-id="101:20" style="position: absolute; left: 12px; top: 256px; width: 105px; height: 18px; color: #ABABAD; font-family: 'Lato'; font-weight: 400; font-size: 13px; line-height: 18px">▾  Direct messages</div>
<div id="frame-9" data-figma-id="101:21" style="position: absolute; left: 12px; top: 276px; width: 79px; height: 29px; overflow: hidden">
<div id="ellipse" data-figma-id="101:22" style="position: absolute; left: 10px; top: 10.5px; width: 8px; height: 8px; background-color: #007A5A; border-radius: 50%"></div>
<div id="chris-n" data-figma-id="101:23" style="position: absolute; left: 26px; top: 4px; width: 53px; height: 21px; color: #D1D2D3; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">Chris N.</div>
</div>
</div>
<div id="channel" data-figma-id="101:24" style="position: absolute; left: 261px; top: 1px; width: 838px; height: 858px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-10" data-figma-id="101:25" style="position: absolute; left: 0px; top: 0px; width: 838px; height: 64px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-11" data-figma-id="101:26" style="position: absolute; left: 16px; top: 12px; width: 234px; height: 40px; background-color: #FFFFFF; overflow: hidden">
<div id="payments-oncall-2" data-figma-id="101:27" style="position: absolute; left: 0px; top: 0px; width: 131px; height: 22px; color: #1D1C1D; font-family: 'Lato'; font-weight: 700; font-size: 16px; line-height: 22px"># payments-oncall</div>
<div id="on-call-for-payments-api-and-worker-service" data-figma-id="101:28" style="position: absolute; left: 0px; top: 23px; width: 234px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">On-call for payments-api and worker-service</div>
</div>
<div id="n12" data-figma-id="101:29" style="position: absolute; left: 768px; top: 23px; width: 54px; height: 18px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 13px; line-height: 18px">☆    ○ 12</div>
</div>
<div id="rectangle" data-figma-id="101:30" style="position: absolute; left: 0px; top: 64px; width: 838px; height: 1px; background-color: #DDDDDD"></div>
<div id="message" data-figma-id="101:31" style="position: absolute; left: 0px; top: 65px; width: 838px; height: 124px; overflow: hidden">
<div id="frame-12" data-figma-id="101:32" style="position: absolute; left: 20px; top: 10px; width: 36px; height: 36px; overflow: hidden">
<div id="ellipse-2" data-figma-id="101:33" style="position: absolute; left: 0px; top: 0px; width: 36px; height: 36px; background-color: #E05454; border-radius: 50%"></div>
<div id="p" data-figma-id="101:34" style="position: absolute; left: 11px; top: 7px; width: 10px; height: 22px; color: #FFFFFF; font-family: 'Lato'; font-weight: 700; font-size: 16px; line-height: 22px">P</div>
</div>
<div id="frame-13" data-figma-id="101:35" style="position: absolute; left: 66px; top: 10px; width: 756px; height: 106px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-14" data-figma-id="101:36" style="position: absolute; left: 0px; top: 0px; width: 107px; height: 21px; background-color: #FFFFFF; overflow: hidden">
<div id="priya-n" data-figma-id="101:37" style="position: absolute; left: 0px; top: 0px; width: 53px; height: 21px; color: #1D1C1D; font-family: 'Lato'; font-weight: 700; font-size: 15px; line-height: 21px">Priya N.</div>
<div id="n9-04-am" data-figma-id="101:38" style="position: absolute; left: 61px; top: 2px; width: 46px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">9:04 AM</div>
</div>
<div id="worker-service-is-crash-looping-after-the-latest-deploy-who-actually-knows-this-service" data-figma-id="101:39" style="position: absolute; left: 0px; top: 25px; width: 756px; height: 21px; color: #1D1C1D; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">worker-service is crash-looping after the latest deploy. Who actually knows this service?</div>
<div id="runbook-unfurl" data-figma-id="101:40" style="position: absolute; left: 0px; top: 50px; width: 183px; height: 56px; overflow: hidden">
<div id="rectangle-2" data-figma-id="101:41" style="position: absolute; left: 0px; top: 8px; width: 4px; height: 40px; background-color: #DDDDDD; border-radius: 2px"></div>
<div id="runbook-title" data-figma-id="101:42" style="position: absolute; left: 14px; top: 8px; width: 157px; height: 40px; background-color: #FFFFFF; overflow: hidden">
<div id="runbook-link" data-figma-id="101:43" style="position: absolute; left: 0px; top: 0px; width: 157px; height: 21px; color: #1264A3; font-family: 'Lato'; font-weight: 700; font-size: 15px; line-height: 21px">worker-service rollback</div>
<div id="runbook" data-figma-id="101:44" style="position: absolute; left: 0px; top: 23px; width: 48px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">Runbook</div>
</div>
</div>
</div>
</div>
<div id="frame-15" data-figma-id="101:45" style="position: absolute; left: 0px; top: 189px; width: 838px; height: 587px; overflow: hidden"></div>
<div id="frame-16" data-figma-id="101:46" style="position: absolute; left: 0px; top: 776px; width: 838px; height: 82px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-17" data-figma-id="101:47" style="position: absolute; left: 20px; top: 0px; width: 798px; height: 66px; background-color: #FFFFFF; border-radius: 8px; overflow: hidden">
<div id="message-payments-oncall" data-figma-id="101:48" style="position: absolute; left: 13px; top: 11px; width: 179px; height: 21px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">Message #payments-oncall</div>
<div id="b-i-s-link" data-figma-id="101:49" style="position: absolute; left: 13px; top: 40px; width: 67px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 700; font-size: 12px; line-height: 17px">B   I   S    link</div>
</div>
</div>
</div>
<div id="thread" data-figma-id="101:50" style="position: absolute; left: 1099px; top: 1px; width: 460px; height: 858px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-18" data-figma-id="101:51" style="position: absolute; left: 1px; top: 1px; width: 126px; height: 67px; background-color: #FFFFFF; overflow: hidden">
<div id="thread-2" data-figma-id="101:52" style="position: absolute; left: 16px; top: 14px; width: 50px; height: 22px; color: #1D1C1D; font-family: 'Lato'; font-weight: 700; font-size: 16px; line-height: 22px">Thread</div>
<div id="payments-oncall-3" data-figma-id="101:53" style="position: absolute; left: 16px; top: 38px; width: 94px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">#payments-oncall</div>
</div>
<div id="rectangle-3" data-figma-id="101:54" style="position: absolute; left: 1px; top: 68px; width: 458px; height: 1px; background-color: #DDDDDD"></div>
<div id="message-2" data-figma-id="101:55" style="position: absolute; left: 1px; top: 69px; width: 458px; height: 145px; overflow: hidden">
<div id="frame-19" data-figma-id="101:56" style="position: absolute; left: 20px; top: 10px; width: 36px; height: 36px; overflow: hidden">
<div id="ellipse-3" data-figma-id="101:57" style="position: absolute; left: 0px; top: 0px; width: 36px; height: 36px; background-color: #E05454; border-radius: 50%"></div>
<div id="p-2" data-figma-id="101:58" style="position: absolute; left: 11px; top: 7px; width: 10px; height: 22px; color: #FFFFFF; font-family: 'Lato'; font-weight: 700; font-size: 16px; line-height: 22px">P</div>
</div>
<div id="frame-20" data-figma-id="101:59" style="position: absolute; left: 66px; top: 10px; width: 376px; height: 127px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-21" data-figma-id="101:60" style="position: absolute; left: 0px; top: 0px; width: 107px; height: 21px; background-color: #FFFFFF; overflow: hidden">
<div id="priya-n-2" data-figma-id="101:61" style="position: absolute; left: 0px; top: 0px; width: 53px; height: 21px; color: #1D1C1D; font-family: 'Lato'; font-weight: 700; font-size: 15px; line-height: 21px">Priya N.</div>
<div id="n9-04-am-2" data-figma-id="101:62" style="position: absolute; left: 61px; top: 2px; width: 46px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">9:04 AM</div>
</div>
<div id="worker-service-is-crash-looping-after-the-latest-deploy-who-actually-knows-this-service-2" data-figma-id="101:63" style="position: absolute; left: 0px; top: 25px; width: 376px; height: 42px; color: #1D1C1D; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">worker-service is crash-looping after the latest deploy. Who actually knows this service?</div>
<div id="runbook-unfurl-2" data-figma-id="101:64" style="position: absolute; left: 0px; top: 71px; width: 183px; height: 56px; overflow: hidden">
<div id="rectangle-4" data-figma-id="101:65" style="position: absolute; left: 0px; top: 8px; width: 4px; height: 40px; background-color: #DDDDDD; border-radius: 2px"></div>
<div id="runbook-title-2" data-figma-id="101:66" style="position: absolute; left: 14px; top: 8px; width: 157px; height: 40px; background-color: #FFFFFF; overflow: hidden">
<div id="runbook-link-2" data-figma-id="101:67" style="position: absolute; left: 0px; top: 0px; width: 157px; height: 21px; color: #1264A3; font-family: 'Lato'; font-weight: 700; font-size: 15px; line-height: 21px">worker-service rollback</div>
<div id="runbook-2" data-figma-id="101:68" style="position: absolute; left: 0px; top: 23px; width: 48px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">Runbook</div>
</div>
</div>
</div>
</div>
<div id="frame-22" data-figma-id="101:69" style="position: absolute; left: 1px; top: 214px; width: 458px; height: 540px; overflow: hidden"></div>
<div id="frame-23" data-figma-id="101:70" style="position: absolute; left: 1px; top: 754px; width: 458px; height: 74px; background-color: #FFFFFF; overflow: hidden">
<div id="frame-24" data-figma-id="101:71" style="position: absolute; left: 16px; top: 0px; width: 426px; height: 66px; background-color: #FFFFFF; border-radius: 8px; overflow: hidden">
<div id="reply" data-figma-id="101:72" style="position: absolute; left: 13px; top: 11px; width: 48px; height: 21px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 15px; line-height: 21px">Reply…</div>
<div id="b-i-s-link-2" data-figma-id="101:73" style="position: absolute; left: 13px; top: 40px; width: 67px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 700; font-size: 12px; line-height: 17px">B   I   S    link</div>
</div>
</div>
<div id="frame-25" data-figma-id="101:74" style="position: absolute; left: 1px; top: 828px; width: 200px; height: 29px; background-color: #FFFFFF; overflow: hidden">
<div id="rectangle-5" data-figma-id="101:75" style="position: absolute; left: 16px; top: 1.5px; width: 14px; height: 14px; background-color: #FFFFFF; border-radius: 2px"></div>
<div id="also-send-to-payments-oncall" data-figma-id="101:76" style="position: absolute; left: 38px; top: 0px; width: 162px; height: 17px; color: #616061; font-family: 'Lato'; font-weight: 400; font-size: 12px; line-height: 17px">Also send to #payments-oncall</div>
</div>
</div>
</div>
</div>
