<div id="n21-world-model-stackgen-com" data-hf-snippet="" data-figma-id="76:2" style="position: relative; width: 1440px; height: 1296.48px; background-color: #14110C">
<div id="container" data-figma-id="76:3" style="position: absolute; left: 96px; top: 96px; width: 820px; height: 288.9px">
<div id="container-2" data-figma-id="76:20" style="position: absolute; left: 0px; top: 0px; width: 820px; height: 84.9px">
<div id="paragraph" data-figma-id="76:4" style="position: absolute; left: 0px; top: 0px; width: 217px; height: 37px; border-radius: 2px">
<div id="text" data-figma-id="76:5" style="position: absolute; left: 17px; top: 10px; width: 8px; height: 17px">
<div id="node" data-figma-id="76:6" style="position: absolute; left: 0px; top: 0px; width: 8px; height: 17px; color: #3F3B39; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 16.9px; letter-spacing: 0.4px">|</div>
</div>
<div id="aiden-world-model" data-figma-id="76:8" style="position: absolute; left: 39px; top: 10px; width: 139px; height: 17px; color: #9EE6FC; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 16.9px; letter-spacing: 0.4px">Aiden world model</div>
<div id="text-2" data-figma-id="76:10" style="position: absolute; left: 192px; top: 10px; width: 8px; height: 17px">
<div id="node-2" data-figma-id="76:11" style="position: absolute; left: 0px; top: 0px; width: 8px; height: 17px; color: #3F3B39; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 16.9px; letter-spacing: 0.4px">|</div>
</div>
</div>
</div>
<div id="heading-2" data-figma-id="76:13" style="position: absolute; left: 0px; top: 84.9px; width: 820px; height: 124px">
<div id="grounded-in-how-you-actually-run-production" data-figma-id="76:14" style="position: absolute; left: 0px; top: 0px; width: 820px; height: 124px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 56px; line-height: 61.6px; letter-spacing: -1.8px">Grounded in how you actually run production</div>
</div>
<div id="paragraph-2" data-figma-id="76:16" style="position: absolute; left: 0px; top: 208.9px; width: 820px; height: 80px">
<div id="the-world-model-ingests-data-across-your-stack-all" data-figma-id="76:17" style="position: absolute; left: 0px; top: 24px; width: 820px; height: 56px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 20px; line-height: 28px; letter-spacing: -0.2px">The world model ingests data across your stack all the way from infrastructure to code to production, and your tribal knowledge. All Aiden agents operate with this shared context.</div>
</div>
</div>
<div id="container-margin" data-figma-id="76:184" style="position: absolute; left: 96px; top: 384.9px; width: 1248px; height: 608.9px">
<div id="container-3" data-figma-id="76:21" style="position: absolute; left: 0px; top: 48px; width: 1248px; height: 560.9px; background-color: #211D15; border-radius: 4px; overflow: hidden">
<div id="container-4" data-figma-id="76:22" style="position: absolute; left: 1px; top: 1px; width: 236px; height: 558.9px">
<div id="paragraph-3" data-figma-id="76:23" style="position: absolute; left: 24px; top: 24px; width: 188px; height: 17px">
<div id="what-we-capture" data-figma-id="76:24" style="position: absolute; left: 0px; top: 0px; width: 148px; height: 17px; color: #96897C; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 16.9px; letter-spacing: 0.4px">// What we capture</div>
</div>
<div id="list" data-figma-id="76:26" style="position: absolute; left: 24px; top: 41px; width: 188px; height: 494px">
<div id="list-item" data-figma-id="76:27" style="position: absolute; left: 0px; top: 24px; width: 188px; height: 37px; border-radius: 2px">
<div id="italic-text" data-figma-id="76:28" style="position: absolute; left: 10px; top: 15.5px; width: 6px; height: 6px; background-color: #3F3B39; border-radius: 9999px"></div>
<div id="text-3" data-figma-id="76:29" style="position: absolute; left: 28px; top: 8px; width: 111px; height: 21px">
<div id="alerts-incidents" data-figma-id="76:30" style="position: absolute; left: 0px; top: 0px; width: 111px; height: 21px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Alerts &amp; incidents</div>
</div>
</div>
<div id="list-item-2" data-figma-id="76:32" style="position: absolute; left: 0px; top: 65px; width: 188px; height: 37px; border-radius: 2px">
<div id="italic-text-2" data-figma-id="76:33" style="position: absolute; left: 10px; top: 15.5px; width: 6px; height: 6px; background-color: #3F3B39; border-radius: 9999px"></div>
<div id="text-4" data-figma-id="76:34" style="position: absolute; left: 28px; top: 8px; width: 136px; height: 21px">
<div id="metrics-logs-traces" data-figma-id="76:35" style="position: absolute; left: 0px; top: 0px; width: 136px; height: 21px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Metrics, logs &amp; traces</div>
</div>
</div>
<div id="list-item-3" data-figma-id="76:37" style="position: absolute; left: 0px; top: 106px; width: 188px; height: 58px; background-color: #14110C; border-radius: 2px">
<div id="italic-text-3" data-figma-id="76:38" style="position: absolute; left: 10px; top: 26px; width: 6px; height: 6px; background-color: #9EE6FC; border-radius: 9999px"></div>
<div id="text-5" data-figma-id="76:39" style="position: absolute; left: 28px; top: 8px; width: 150px; height: 42px">
<div id="deployments-changes" data-figma-id="76:40" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 42px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Deployments &amp; changes</div>
</div>
</div>
<div id="list-item-4" data-figma-id="76:42" style="position: absolute; left: 0px; top: 168px; width: 188px; height: 37px; border-radius: 2px">
<div id="italic-text-4" data-figma-id="76:43" style="position: absolute; left: 10px; top: 15.5px; width: 6px; height: 6px; background-color: #3F3B39; border-radius: 9999px"></div>
<div id="text-6" data-figma-id="76:44" style="position: absolute; left: 28px; top: 8px; width: 139px; height: 21px">
<div id="service-dependencies" data-figma-id="76:45" style="position: absolute; left: 0px; top: 0px; width: 139px; height: 21px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Service dependencies</div>
</div>
</div>
<div id="list-item-5" data-figma-id="76:47" style="position: absolute; left: 0px; top: 209px; width: 188px; height: 58px; background-color: #14110C; border-radius: 2px">
<div id="italic-text-5" data-figma-id="76:48" style="position: absolute; left: 10px; top: 26px; width: 6px; height: 6px; background-color: #9EE6FC; border-radius: 9999px"></div>
<div id="text-7" data-figma-id="76:49" style="position: absolute; left: 28px; top: 8px; width: 150px; height: 42px">
<div id="cloud-kubernetes-resources" data-figma-id="76:50" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 42px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Cloud &amp; Kubernetes resources</div>
</div>
</div>
<div id="list-item-6" data-figma-id="76:52" style="position: absolute; left: 0px; top: 271px; width: 188px; height: 58px; background-color: #14110C; border-radius: 2px">
<div id="italic-text-6" data-figma-id="76:53" style="position: absolute; left: 10px; top: 26px; width: 6px; height: 6px; background-color: #9EE6FC; border-radius: 9999px"></div>
<div id="text-8" data-figma-id="76:54" style="position: absolute; left: 28px; top: 8px; width: 150px; height: 42px">
<div id="infrastructure-code-modules" data-figma-id="76:55" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 42px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Infrastructure code &amp; modules</div>
</div>
</div>
<div id="list-item-7" data-figma-id="76:57" style="position: absolute; left: 0px; top: 333px; width: 188px; height: 58px; background-color: #14110C; border-radius: 2px">
<div id="italic-text-7" data-figma-id="76:58" style="position: absolute; left: 10px; top: 26px; width: 6px; height: 6px; background-color: #9EE6FC; border-radius: 9999px"></div>
<div id="text-9" data-figma-id="76:59" style="position: absolute; left: 28px; top: 8px; width: 150px; height: 42px">
<div id="policies-desired-state-drift" data-figma-id="76:60" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 42px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Policies, desired state &amp; drift</div>
</div>
</div>
<div id="list-item-8" data-figma-id="76:62" style="position: absolute; left: 0px; top: 395px; width: 188px; height: 37px; background-color: #14110C; border-radius: 2px">
<div id="italic-text-8" data-figma-id="76:63" style="position: absolute; left: 10px; top: 15.5px; width: 6px; height: 6px; background-color: #9EE6FC; border-radius: 9999px"></div>
<div id="text-10" data-figma-id="76:64" style="position: absolute; left: 28px; top: 8px; width: 139px; height: 21px">
<div id="pipelines-workflows" data-figma-id="76:65" style="position: absolute; left: 0px; top: 0px; width: 139px; height: 21px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Pipelines &amp; workflows</div>
</div>
</div>
<div id="list-item-9" data-figma-id="76:67" style="position: absolute; left: 0px; top: 436px; width: 188px; height: 58px; border-radius: 2px">
<div id="italic-text-9" data-figma-id="76:68" style="position: absolute; left: 10px; top: 26px; width: 6px; height: 6px; background-color: #3F3B39; border-radius: 9999px"></div>
<div id="text-11" data-figma-id="76:69" style="position: absolute; left: 28px; top: 8px; width: 150px; height: 42px">
<div id="tickets-runbooks-postmortems" data-figma-id="76:70" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 42px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Tickets, runbooks &amp; postmortems</div>
</div>
</div>
</div>
</div>
<div id="container-5" data-figma-id="76:73" style="position: absolute; left: 237px; top: 1px; width: 742px; height: 558.9px; background-color: #191510">
<img id="canvas" data-figma-id="76:75" data-figma-rasterize="76:75" src="../../../.media/images/image_599.svg" alt="Canvas" style="position: absolute; left: 1px; top: 0px; width: 740px; height: 558.9px" />
<div id="container-6" data-figma-id="76:76" style="position: absolute; left: 292.5px; top: 509.15px; width: 157px; height: 34px; background-color: #211D15; border-radius: 9999px">
<div id="drag-to-explore" data-figma-id="76:77" style="position: absolute; left: 17px; top: 7px; width: 123px; height: 20px; color: #96897C; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 19.5px; letter-spacing: 0.4px">Drag to explore</div>
</div>
</div>
<div id="container-7" data-figma-id="76:79" style="position: absolute; left: 979px; top: 1px; width: 268px; height: 558.9px">
<div id="paragraph-4" data-figma-id="76:80" style="position: absolute; left: 24px; top: 24px; width: 220px; height: 17px">
<div id="who-draws-on-it" data-figma-id="76:81" style="position: absolute; left: 0px; top: 0px; width: 148px; height: 17px; color: #96897C; font-family: 'JetBrains Mono'; font-weight: 400; font-size: 13px; line-height: 16.9px; letter-spacing: 0.4px">// Who draws on it</div>
</div>
<div id="list-2" data-figma-id="76:83" style="position: absolute; left: 24px; top: 41px; width: 220px; height: 436px">
<div id="list-item-10" data-figma-id="76:84" style="position: absolute; left: 0px; top: 24px; width: 220px; height: 94px; opacity: 0.5">
<div id="paragraph-5" data-figma-id="76:85" style="position: absolute; left: 16px; top: 2px; width: 204px; height: 23px">
<div id="aiden-for-sre" data-figma-id="76:86" style="position: absolute; left: 0px; top: 0px; width: 101px; height: 23px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 16px; line-height: 22.4px; letter-spacing: -0.05px">Aiden for SRE</div>
</div>
<div id="paragraph-6" data-figma-id="76:88" style="position: absolute; left: 16px; top: 25px; width: 204px; height: 67px">
<div id="names-the-change-that-caused-the-incident-not-jus" data-figma-id="76:89" style="position: absolute; left: 0px; top: 4px; width: 204px; height: 63px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Names the change that caused the incident, not just the service that failed.</div>
</div>
</div>
<div id="list-item-11" data-figma-id="76:92" style="position: absolute; left: 0px; top: 130px; width: 220px; height: 94px">
<div id="paragraph-7" data-figma-id="76:93" style="position: absolute; left: 16px; top: 2px; width: 204px; height: 23px">
<div id="aiden-for-infraops" data-figma-id="76:94" style="position: absolute; left: 0px; top: 0px; width: 133px; height: 23px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 16px; line-height: 22.4px; letter-spacing: -0.05px">Aiden for InfraOps</div>
</div>
<div id="paragraph-8" data-figma-id="76:96" style="position: absolute; left: 16px; top: 25px; width: 204px; height: 67px">
<div id="checks-a-plan-against-what-is-actually-running-no" data-figma-id="76:97" style="position: absolute; left: 0px; top: 4px; width: 204px; height: 63px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Checks a plan against what is actually running, not against the last apply.</div>
</div>
</div>
<div id="list-item-12" data-figma-id="76:100" style="position: absolute; left: 0px; top: 236px; width: 220px; height: 94px; opacity: 0.5">
<div id="paragraph-9" data-figma-id="76:101" style="position: absolute; left: 16px; top: 2px; width: 204px; height: 23px">
<div id="aiden-for-devops" data-figma-id="76:102" style="position: absolute; left: 0px; top: 0px; width: 128px; height: 23px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 16px; line-height: 22.4px; letter-spacing: -0.05px">Aiden for DevOps</div>
</div>
<div id="paragraph-10" data-figma-id="76:104" style="position: absolute; left: 16px; top: 25px; width: 204px; height: 67px">
<div id="knows-what-a-workflow-will-touch-before-it-runs-n" data-figma-id="76:105" style="position: absolute; left: 0px; top: 4px; width: 204px; height: 63px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Knows what a workflow will touch before it runs, not when the change lands.</div>
</div>
</div>
<div id="list-item-13" data-figma-id="76:108" style="position: absolute; left: 0px; top: 342px; width: 220px; height: 94px; opacity: 0.5">
<div id="paragraph-11" data-figma-id="76:109" style="position: absolute; left: 16px; top: 2px; width: 204px; height: 23px">
<div id="aiden-for-observability" data-figma-id="76:110" style="position: absolute; left: 0px; top: 0px; width: 165px; height: 23px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 16px; line-height: 22.4px; letter-spacing: -0.05px">Aiden for Observability</div>
</div>
<div id="paragraph-12" data-figma-id="76:112" style="position: absolute; left: 16px; top: 25px; width: 204px; height: 67px">
<div id="follows-a-signal-to-the-deploy-and-the-owner-behin" data-figma-id="76:113" style="position: absolute; left: 0px; top: 4px; width: 204px; height: 63px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px; letter-spacing: -0.1px">Follows a signal to the deploy and the owner behind it, not to another signal.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="container-margin-2" data-figma-id="76:185" style="position: absolute; left: 96px; top: 993.8px; width: 1248px; height: 207.5px">
<div id="container-8" data-figma-id="76:117" style="position: absolute; left: 0px; top: 16px; width: 1248px; height: 191.5px">
<div id="container-9" data-figma-id="76:118" style="position: absolute; left: 0px; top: 0px; width: 405.33px; height: 191.5px; background-color: #211D15; border-radius: 4px">
<div id="icon" data-figma-id="76:119" style="position: absolute; left: 24px; top: 24px; width: 34px; height: 34px; overflow: hidden">
<div id="group" data-figma-id="76:120" style="position: absolute; left: 0px; top: 0px; width: 32px; height: 25px">
<img id="vector" data-figma-id="76:121" data-figma-rasterize="76:121" src="../../../.media/images/image_600.svg" alt="Vector" style="position: absolute; left: 0px; top: 0px; width: 4px; height: 4px" />
<img id="vector-2" data-figma-id="76:122" data-figma-rasterize="76:122" src="../../../.media/images/image_601.svg" alt="Vector" style="position: absolute; left: 7px; top: 0px; width: 4px; height: 4px" />
<img id="vector-3" data-figma-id="76:123" data-figma-rasterize="76:123" src="../../../.media/images/image_602.svg" alt="Vector" style="position: absolute; left: 21px; top: 0px; width: 4px; height: 4px" />
<img id="vector-4" data-figma-id="76:124" data-figma-rasterize="76:124" src="../../../.media/images/image_603.svg" alt="Vector" style="position: absolute; left: 0px; top: 7px; width: 4px; height: 4px" />
<img id="vector-5" data-figma-id="76:125" data-figma-rasterize="76:125" src="../../../.media/images/image_604.svg" alt="Vector" style="position: absolute; left: 14px; top: 7px; width: 4px; height: 4px" />
<img id="vector-6" data-figma-id="76:126" data-figma-rasterize="76:126" src="../../../.media/images/image_605.svg" alt="Vector" style="position: absolute; left: 21px; top: 7px; width: 4px; height: 4px" />
<img id="vector-7" data-figma-id="76:127" data-figma-rasterize="76:127" src="../../../.media/images/image_606.svg" alt="Vector" style="position: absolute; left: 28px; top: 7px; width: 4px; height: 4px" />
<img id="vector-8" data-figma-id="76:128" data-figma-rasterize="76:128" src="../../../.media/images/image_607.svg" alt="Vector" style="position: absolute; left: 7px; top: 14px; width: 4px; height: 4px" />
<img id="vector-9" data-figma-id="76:129" data-figma-rasterize="76:129" src="../../../.media/images/image_608.svg" alt="Vector" style="position: absolute; left: 14px; top: 14px; width: 4px; height: 4px" />
<img id="vector-10" data-figma-id="76:130" data-figma-rasterize="76:130" src="../../../.media/images/image_609.svg" alt="Vector" style="position: absolute; left: 28px; top: 14px; width: 4px; height: 4px" />
<img id="vector-11" data-figma-id="76:131" data-figma-rasterize="76:131" src="../../../.media/images/image_610.svg" alt="Vector" style="position: absolute; left: 0px; top: 21px; width: 4px; height: 4px" />
<img id="vector-12" data-figma-id="76:132" data-figma-rasterize="76:132" src="../../../.media/images/image_611.svg" alt="Vector" style="position: absolute; left: 7px; top: 21px; width: 4px; height: 4px" />
<img id="vector-13" data-figma-id="76:133" data-figma-rasterize="76:133" src="../../../.media/images/image_612.svg" alt="Vector" style="position: absolute; left: 21px; top: 21px; width: 4px; height: 4px" />
</div>
</div>
<div id="heading-3" data-figma-id="76:134" style="position: absolute; left: 24px; top: 58px; width: 357.33px; height: 60px">
<div id="context-graph" data-figma-id="76:135" style="position: absolute; left: 0px; top: 32px; width: 139px; height: 28px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 22px; line-height: 27.5px; letter-spacing: -0.4px">Context graph</div>
</div>
<div id="paragraph-13" data-figma-id="76:137" style="position: absolute; left: 24px; top: 118px; width: 357.33px; height: 50px">
<div id="world-model-provides-the-operational-context-neede" data-figma-id="76:138" style="position: absolute; left: 0px; top: 8px; width: 358px; height: 42px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px">World Model provides the operational context needed to operate autonomously</div>
</div>
</div>
<div id="container-10" data-figma-id="76:142" style="position: absolute; left: 421.33px; top: 0px; width: 405.34px; height: 191.5px; background-color: #211D15; border-radius: 4px">
<div id="icon-2" data-figma-id="76:143" style="position: absolute; left: 24px; top: 24px; width: 34px; height: 34px; overflow: hidden">
<div id="group-2" data-figma-id="76:144" style="position: absolute; left: 0px; top: 0px; width: 32px; height: 25px">
<img id="vector-14" data-figma-id="76:145" data-figma-rasterize="76:145" src="../../../.media/images/image_613.svg" alt="Vector" style="position: absolute; left: 0px; top: 0px; width: 4px; height: 4px" />
<img id="vector-15" data-figma-id="76:146" data-figma-rasterize="76:146" src="../../../.media/images/image_614.svg" alt="Vector" style="position: absolute; left: 14px; top: 0px; width: 4px; height: 4px" />
<img id="vector-16" data-figma-id="76:147" data-figma-rasterize="76:147" src="../../../.media/images/image_615.svg" alt="Vector" style="position: absolute; left: 28px; top: 0px; width: 4px; height: 4px" />
<img id="vector-17" data-figma-id="76:148" data-figma-rasterize="76:148" src="../../../.media/images/image_616.svg" alt="Vector" style="position: absolute; left: 7px; top: 7px; width: 4px; height: 4px" />
<img id="vector-18" data-figma-id="76:149" data-figma-rasterize="76:149" src="../../../.media/images/image_617.svg" alt="Vector" style="position: absolute; left: 21px; top: 7px; width: 4px; height: 4px" />
<img id="vector-19" data-figma-id="76:150" data-figma-rasterize="76:150" src="../../../.media/images/image_618.svg" alt="Vector" style="position: absolute; left: 0px; top: 14px; width: 4px; height: 4px" />
<img id="vector-20" data-figma-id="76:151" data-figma-rasterize="76:151" src="../../../.media/images/image_619.svg" alt="Vector" style="position: absolute; left: 14px; top: 14px; width: 4px; height: 4px" />
<img id="vector-21" data-figma-id="76:152" data-figma-rasterize="76:152" src="../../../.media/images/image_620.svg" alt="Vector" style="position: absolute; left: 28px; top: 14px; width: 4px; height: 4px" />
<img id="vector-22" data-figma-id="76:153" data-figma-rasterize="76:153" src="../../../.media/images/image_621.svg" alt="Vector" style="position: absolute; left: 7px; top: 21px; width: 4px; height: 4px" />
<img id="vector-23" data-figma-id="76:154" data-figma-rasterize="76:154" src="../../../.media/images/image_622.svg" alt="Vector" style="position: absolute; left: 21px; top: 21px; width: 4px; height: 4px" />
</div>
</div>
<div id="heading-3-2" data-figma-id="76:155" style="position: absolute; left: 24px; top: 58px; width: 357.34px; height: 60px">
<div id="policy-and-rules" data-figma-id="76:156" style="position: absolute; left: 0px; top: 32px; width: 153px; height: 28px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 22px; line-height: 27.5px; letter-spacing: -0.4px">Policy and rules</div>
</div>
<div id="paragraph-14" data-figma-id="76:158" style="position: absolute; left: 24px; top: 118px; width: 357.34px; height: 50px">
<div id="approvals-blast-radius-limits-and-org-standards" data-figma-id="76:159" style="position: absolute; left: 0px; top: 8px; width: 358px; height: 42px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px">Approvals, blast-radius limits, and org standards so agents act inside the same gates humans already trust.</div>
</div>
</div>
<div id="container-11" data-figma-id="76:163" style="position: absolute; left: 842.66px; top: 0px; width: 405.34px; height: 191.5px; background-color: #211D15; border-radius: 4px">
<div id="icon-3" data-figma-id="76:164" style="position: absolute; left: 24px; top: 24px; width: 34px; height: 34px; overflow: hidden">
<div id="group-3" data-figma-id="76:165" style="position: absolute; left: 0px; top: 0px; width: 32px; height: 25px">
<img id="vector-24" data-figma-id="76:166" data-figma-rasterize="76:166" src="../../../.media/images/image_623.svg" alt="Vector" style="position: absolute; left: 0px; top: 0px; width: 4px; height: 4px" />
<img id="vector-25" data-figma-id="76:167" data-figma-rasterize="76:167" src="../../../.media/images/image_624.svg" alt="Vector" style="position: absolute; left: 7px; top: 0px; width: 4px; height: 4px" />
<img id="vector-26" data-figma-id="76:168" data-figma-rasterize="76:168" src="../../../.media/images/image_625.svg" alt="Vector" style="position: absolute; left: 14px; top: 0px; width: 4px; height: 4px" />
<img id="vector-27" data-figma-id="76:169" data-figma-rasterize="76:169" src="../../../.media/images/image_626.svg" alt="Vector" style="position: absolute; left: 0px; top: 7px; width: 4px; height: 4px" />
<img id="vector-28" data-figma-id="76:170" data-figma-rasterize="76:170" src="../../../.media/images/image_627.svg" alt="Vector" style="position: absolute; left: 21px; top: 7px; width: 4px; height: 4px" />
<img id="vector-29" data-figma-id="76:171" data-figma-rasterize="76:171" src="../../../.media/images/image_628.svg" alt="Vector" style="position: absolute; left: 0px; top: 14px; width: 4px; height: 4px" />
<img id="vector-30" data-figma-id="76:172" data-figma-rasterize="76:172" src="../../../.media/images/image_629.svg" alt="Vector" style="position: absolute; left: 14px; top: 14px; width: 4px; height: 4px" />
<img id="vector-31" data-figma-id="76:173" data-figma-rasterize="76:173" src="../../../.media/images/image_630.svg" alt="Vector" style="position: absolute; left: 21px; top: 14px; width: 4px; height: 4px" />
<img id="vector-32" data-figma-id="76:174" data-figma-rasterize="76:174" src="../../../.media/images/image_631.svg" alt="Vector" style="position: absolute; left: 7px; top: 21px; width: 4px; height: 4px" />
<img id="vector-33" data-figma-id="76:175" data-figma-rasterize="76:175" src="../../../.media/images/image_632.svg" alt="Vector" style="position: absolute; left: 28px; top: 21px; width: 4px; height: 4px" />
</div>
</div>
<div id="heading-3-3" data-figma-id="76:176" style="position: absolute; left: 24px; top: 58px; width: 357.34px; height: 60px">
<div id="operational-memory" data-figma-id="76:177" style="position: absolute; left: 0px; top: 32px; width: 198px; height: 28px; color: #F1EAE0; font-family: 'Geist'; font-weight: 400; font-size: 22px; line-height: 27.5px; letter-spacing: -0.4px">Operational memory</div>
</div>
<div id="paragraph-15" data-figma-id="76:179" style="position: absolute; left: 24px; top: 118px; width: 357.34px; height: 50px">
<div id="every-result-updates-future-gates-and-runbooks-for" data-figma-id="76:180" style="position: absolute; left: 0px; top: 8px; width: 358px; height: 42px; color: #96897C; font-family: 'Geist'; font-weight: 400; font-size: 14px; line-height: 21px">Every result updates future gates and runbooks for the next agent run.</div>
</div>
</div>
</div>
</div>
</div>
